{% extends "layout.html" %}

{% block title %}
    History
{% endblock %}

{% block main %}
    <table class="table table-stripped">
        <thead>
            <tr>
                <th>Symbol</th>
                <th>Name</th>
                <th>Shares</th>
                <th>Price</th>
                <th>Transacted</th>
            </tr>
        </thead>
        <tbody>
            {% set count = namespace(value=0) %}
            {%for item in transactions%}
                    <tr>
                        <td>{{item["symbol"]}}</td>
                        <td>{{item["name"]}}</td>
                        <td>{{item["share"]}}</td>
                        <td>{{item["price"] | usd}}</td>
                        <td>{{item["datetime"]}}</td>
                    </tr>
                    {% set count.value = count.value + 1 %}
            {% endfor %}
        </tbody>
        <tfoot>

        </tfoot>
    </table>
{% endblock %}